<div class="row userinfo">
    <div class="col-xs-12 col-md-3">
        photo
        <img src="..." alt="..." class="img-thumbnail">
    </div>
    <div class="col-xs-12 col-md-6">
        info
    </div>
    <div class="col-xs-12 col-md-3">
        message friend request close report 
    </div>
</div>